<form [formGroup]="sparqlVariableForm" (ngSubmit)="onSubmit()">
  <label for="name"></label>
  <input id="name" type="text" formControlName="variable" style="margin-right: 4px" autocomplete="on" />
  <button type="submit" [disabled]="!sparqlVariableForm.valid">{{buttonLabel}}</button>
</form>
@if (error.length === 0) {
  <div>
    @for (line of result; track line) {
      <p>{{ line }}</p>
    }
    @if (result.length === 0) {
      <p>0 results</p>
    }
  </div>
}

@if (error.length > 0) {
  <div style="color: red">
    <h4>Http Response Error</h4>
    <pre>{{ error }}</pre>
  </div>
}